@dpw:registry=https://pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/registry/ 
                        
always-auth=true

; Note: this token expires on 22/06/2023 
; begin auth token
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/registry/:username=dpwhotfsonline
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/registry/:_password=NW1hdGh6Mmk2eTRnaWxieXozcWJ1NXhrcnF3NGZuYWZpdTRxanR4Z2ozdWx4NDV3NHVwcQ==
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/registry/:email=npm requires email to be set but does not use the value
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/:username=dpwhotfsonline
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/:_password=NW1hdGh6Mmk2eTRnaWxieXozcWJ1NXhrcnF3NGZuYWZpdTRxanR4Z2ozdWx4NDV3NHVwcQ==
//pkgs.dev.azure.com/dpwhotfsonline/_packaging/dpw-design-system/npm/:email=npm requires email to be set but does not use the value
; end auth token