.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.wrapper-table {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.wrapper-graph {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #080606;
}

.left,
.right {
  flex: 1;
  margin: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
}

.left {
  margin-right: 10px;
}

.right {
  margin-left: 10px;
}

.centered-heatmap {
  width: calc(50% - 40px);
  margin: 20px auto;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #080606;
}

.loading-main .spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
}

.heading-left {
  margin-right: 10px;
  padding: 10px;
}

.heading-right {
  margin-left: 10px;
  padding: 10px;
}

.heading-flex {
  display: flex;
  justify-content: space-between;
}

.custom-margin-border {
  margin-top: 25px; /* You can adjust this value to be within 40-50px */
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid black;
}

@keyframes blink {
  0% {
    background-color: #ffcccc;
  }
  50% {
    background-color: #ff9999;
  }
  100% {
    background-color: #ffcccc;
  }
}

.blink {
  animation: blink 1s infinite;
}
